<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/employer_home.js') }}" defer></script>
    {% if session.logged_in %}
        <link rel="icon" href="{{ url_for('static', filename='EGde.gif') }}" type="image/gif">
    {% else %}
        <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
    {% endif %} 
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    {% if session.user_type == 'employer' %}
                        <li><a href="{{ url_for('employer_home_route', username=session.username) }}" class="orange-button">Employee Home</a></li>
                    {% endif %}
                    <li><a href="/logout" class="orange-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="orange-button">Login</a></li>
                    <li><a href="/signup" class="orange-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="description">
            <h1>Welcome {{ employer.username }}</h1>
            <h3>Here you can manage your {{ organization.type | e }} organization data</h3>
            <p><b><i>Your Organization {{ organization.name | e }} earned {{ organization.coin | e }} coins until now</i></b></p>
        </div>
        <div class="signup-container">
            <div class="signup-form">
                <button type="button" class="button-green" id="update-personal-data-button">Update Personal Data</button>
                {% if organization.type == 'carrier' %}
                    <button type="button" class="button-green" id="carrier-manage-product-requests-button">
                    Manage my Organization Product Requests</button>
                    <button type="button" class="button-green" id="carrier-view-deliveries-button">View my Organization Deliveries</button>
                {% else %}
                {% if organization.type != 'seller' %}
                    <button type="button" class="button-green" id="view-products-button">Menage my Organization Products</button>
                {% endif %}
                    <button type="button" class="button-green" id="manage-product-requests-button">
                        Manage my Organization Product Requests</button>
                    <button type="button" class="button-green" id="view-deliveries-button">View my Organization Deliveries</button>
                {% endif %}
                <button type="button" class="button-green" id="view-coin-requests-button">View Coin Requests</button>
                <button type="button" class="button-green" id="view-transactions-button">View Transactions</button>
            </div>
        </div>
    </main>
</body>
</html>