<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    {% if session.logged_in %}
    <link rel="icon" href="{{ url_for('static', filename='EGde.gif') }}" type="image/gif">
    {% else %}
        <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
    {% endif %} 
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    {% if session.user_type == 'employer' %}
                        <li><a href="{{ url_for('employer_home_route', username=session.username) }}" class="orange-button">Employee Home</a></li>
                    {% endif %}
                    <li><a href="/logout" class="orange-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="orange-button">Login</a></li>
                    <li><a href="/signup" class="orange-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="signup-container">
            <form class="signup-form" method="post" action="/employer/create_products">
                {{ form.hidden_tag() }} <!-- Token CSRF -->
                <h2>Create a New Product</h2>
                <p><b><i>Your Organization {{ organization.name }} earned {{ organization.coin }} coins until now</i></b></p>
                <p class="red-text"><b>Be careful, this form use the blockchain to elaborate your data: IT WILL COST YOU GAS EVEN IF YOU WON'T HAVE ENOUGH COINS </b></p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                {% if category != 'error_co2' or category == 'length_error' %}
                                    <div class="invalid-tooltip" style="display: block;">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="form-columns">
                    <div class="employer">
                        <div class="form-columns">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label  for="type">Type:</label>
                                {{ form.type }}
                            </div>
                            <div class="form-group">
                                <p>ATTENTION: enter the correct product quantity value in Kg. Co2 standard emission values ​
                                    ​are calculated based on this value. <b>ONCE INSERTED IT WILL NO LONGER BE POSSIBLE TO MODIFY IT.</b></p>
                                <label for="quantity">Quantity:</label>
                                {{ form.quantity }}
                                {% if form.quantity.errors %}
                                    <div class="invalid-tooltip" style="display: block;">
                                        {{ form.quantity.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <p>ATTENTION: enter the correct Co2 production value in Kg/m<sup>3</sup>. <b>ONCE INSERTED IT WILL NO LONGER BE POSSIBLE TO MODIFY IT.</b></p>
                                <label  for="co2_production_product">CO2 Production:</label>
                                {{ form.co2_production_product }}
                                {% if form.co2_production_product.errors %}
                                    <div class="invalid-tooltip" style="display: block;">
                                        {{ form.co2_production_product.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'error_co2' %}
                                        <div class="invalid-tooltip" style="display: block;">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                            {% if session.get('user_org_type') == 'producer' %}
                            <div class="form-group">
                                <label for="co2_origin_product_list">CO2 Origin Products:</label>
                                {{ form.co2_origin_product_list }}
                            </div>
                            {% endif %}
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'error_co2' %}
                                        <div class="invalid-tooltip" style="display: block;">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="blue-button">Create Product</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>