<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    {% if session.logged_in %}
        <link rel="icon" href="{{ url_for('static', filename='EGde.gif') }}" type="image/gif">
    {% else %}
        <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
    {% endif %} 
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    {% if session.user_type == 'employer' %}
                        <li><a href="{{ url_for('employer_home_route', username=session.username) }}" class="orange-button">Employee Home</a></li>
                    {% elif session.user_type == 'oracle' %}
                        <li><a href="{{ url_for('oracle_home_route', username=session.username) }}" class="orange-button">Oracle Home</a></li>
                    {% endif %}
                    <li><a href="/logout" class="orange-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="orange-button">Login</a></li>
                    <li><a href="/signup" class="orange-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section class="description">
            <h2>Carbon Footprint Tracking of Products</h2>
            <p>This application allows you to track the carbon footprint of products through the various stages of their production and distribution.</p>
            <p>If you are a company and want to register on our website, go to the <a href="/signup">Sign Up</a> page and fill out the provided form. Within 24 hours, the <i>oracle</i> will add you to the system.</p>
            <p><b>It will be necessary to register at least one employee to manage your data.</b></p>
        </section>
        <section>
            <h2>Organizations</h2>
            <div class="organizations">
                {% if organizations %}
                    {% for organization in organizations %}
                        <div class="organization">
                            <h3><a href="/organization/{{ organization.id }}">{{ organization.name | e }}</a></h3>
                            <p>Description: {{ organization.description | e }}</p>
                            <p>Address: {{ organization.address | e }}, {{ organization.city | e }}, {{ organization.cap | e }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no organizations registered in the system.</p>
                {% endif %}
            </div>
        </section>
        <section>
            <h2>Products</h2>
            <div class="products">
                {% if products_with_details %}
                    {% for product in products_with_details %}
                        <div class="product">
                            <h3><a href="/product/{{ product.id }}">{{ product.name | e }}</a></h3>
                            <p>Made by: {{ product.organization_name | e }}</p>
                            <p>Type: {{ product.type | e }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no products registered in the system.</p>
                {% endif %}
            </div>
        </section>
    </main>
</body>
</html>