<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    <li><a href="/logout" class="orange-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="orange-button">Login</a></li>
                    <li><a href="/signup" class="orange-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section class="description">
            <h2>Tracciamento della CO2 dei Prodotti</h2>
            <p>Questa applicazione consente di tracciare l'impronta di CO2 dei prodotti attraverso le varie fasi della loro produzione e distribuzione.</p>
            <p>Se sei un'azienda e vuoi registrarti al nostro sito vai all'indirizzo <a href="/signup">Sign Up</a> e compila la from predisposta. <b>Sarà necessario registrare almeno un impiegato per poter gestire i vostri dati</b>.</p>
        </section>
        <section>
            <h2>Organizzazioni</h2>
            <div class="organizations">
                {% for organization in organizations %}
                    <div class="organization">
                        <h3><a href="/organization/{{ organization.id }}">{{ organization.name | e }}</a></h3>
                        <p>Description: {{ organization.description | e }}</p>
                        <p>Address: {{ organization.address | e }}, {{ organization.city | e }}, {{ organization.cap | e }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <h2>Prodotti</h2>
            <div class="products">
                {% for product in products %}
                    <div class="product">
                        <h3><a href="/product/{{ product.id }}">{{ product.name | e }}</a></h3>
                        <p>Made by: {{ product.id_organization | e }}</p>
                        <p>Type: {{ product.type | e }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>