<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    <li><a href="/logout" class="yellow-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="yellow-button">Login</a></li>
                    <li><a href="/signup" class="yellow-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="login-container">
            <form class="login-form" method="post" action="/login">
                <h2>Login</h2>
                {{ form.hidden_tag() }}
                <div>
                    <label for="username">Username:</label>
                    {{ form.username }}
                </div>
                <div>
                    <label for="password">Password:</label>
                    {{ form.password }}
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
                <br>
                {% if error %}
                    <div id="error-message" class="error-message">{{ error }}</div>
                {% endif %}
            </form>
        </div>
    </main>
</body>
</html>