<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/oracle_home.js') }}" defer></script>
    {% if session.logged_in %}
    <link rel="icon" href="{{ url_for('static', filename='EGde.gif') }}" type="image/gif">
    {% else %}
        <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
    {% endif %} 
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    {% if session.user_type == 'employer' %}
                        <li><a href="{{ url_for('employer_home_route', username=session.username) }}" class="orange-button">Employer Home</a></li>
                    {% elif session.user_type == 'oracle' %}
                        <li><a href="{{ url_for('oracle_home_route', username=session.username) }}" class="orange-button">Oracle Home</a></li>
                    {% endif %}
                    <li><a href="/logout" class="orange-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="orange-button">Login</a></li>
                    <li><a href="/signup" class="orange-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="signup-container">
            <div class="signup-form">
                <h2>All organizations requesting registration</h2>
                <div class="organizations">
                    {% if pending_organizations %}
                        {% for organization in pending_organizations %}
                            <div class="organization">
                                <h3>{{ organization.name | e }}</h3>
                                <p>{{ organization.description | e }}</p>
                                <p>Organization Type: {{ organization.type | e }}</p>
                                <p>Address: {{ organization.address | e }}, {{ organization.city | e }}, {{ organization.cap | e }}</p>
                                <a href="/oracle/view_organization_inactive/manage_organization_registration/{{ organization.id }}" class="orange-button">Visualize details</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No organizations are currently requesting registration.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=false) %}
            {% if messages %}
                <script id="flash-messages" type="application/json">{{ messages|tojson }}</script>
            {% endif %}
        {% endwith %}
    </main>
</body>
</html>