<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ organization.name | e }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    <li><a href="/logout" class="yellow-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="yellow-button">Login</a></li>
                    <li><a href="/signup" class="yellow-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>{{ organization.name | e }}</h1>
        </section>
        <section class="section-bordered">
            <h2>Description</h2>
            <p>{{ organization.description | e }}</p>
        </section>
        <section class="section-bordered">
            <h2>Details</h2>
            <p>Partita IVA: {{ organization.partita_iva | e }}</p>
            <p>Address: {{ organization.address | e }}, {{ organization.city | e }}, {{ organization.cap | e }}</p>
            <p>Telephone: {{ organization.telephone | e }}</p>
            <p>Email: {{ organization.email | e }}</p>
            <p>Organization Type: {{ organization.type | e }}</p>
            <p>Coin: {{ organization.coin | e }}</p>
        </section>
        <section class="section-bordered">
            <h2>Employers</h2>
            {% if employers %}
                <ul class="section-bordered">
                    {% for employer in employers %}
                        <p><b>Employer N° {{ loop.index }}</b></p>
                        <li>
                            <p>{{ employer.name | e }} {{ employer.surname | e }}</p>
                            <p>{{ employer.email | e }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No Employer found for this organization</p>
            {% endif %}
        </section>
    </main>
</body>
</html>