<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    {% if session.user_type == 'employer' %}
                        <li><a href="{{ url_for('employer_home_route', username=session.username) }}" class="orange-button">Employee Home</a></li>
                    {% elif session.user_type == 'oracle' %}
                        <li><a href="{{ url_for('oracle_home_route', username=session.username) }}" class="orange-button">Oracle Home</a></li>
                    {% endif %}
                    <li><a href="/logout" class="orange-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="orange-button">Login</a></li>
                    <li><a href="/signup" class="orange-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>All Products</h2>
            <div class="products">
                {% if products %}
                    {% for item in products %}
                        <div class="product">
                            <h3><a href="/product/{{ item.product.id }}">{{ item.product.name | e }}</a></h3>
                            <p>Type: {{ item.product.type | e }}</p>
                            <p>Quantity: {{ item.product.quantity | e }}</p>
                            <p>CO2 Production: {{ item.product.co2_production_product }}</p>
                            <p>Made by: {{ item.organization_name | e }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no products registered in the system.</p>
                {% endif %}
            </div>
        </section>
    </main>
</body>
</html>