<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/signup.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='carbon.png') }}" type="image/gif">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>CO2 Application</h1>
            <img src="{{ url_for('static', filename='co2.gif') }}" alt="CO2 GIF">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/products">Products</a></li>
                {% if session.logged_in %}
                    {% if session.user_type == 'employer' %}
                        <li><a href="{{ url_for('employer_home_route', username=session.username) }}" class="orange-button">Employer Home</a></li>
                    {% endif %}
                    <li><a href="/logout" class="orange-button">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="orange-button">Login</a></li>
                    <li><a href="/signup" class="orange-button">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="signup-container">
            <form class="signup-form" method="post" action="/signup">
                {{ org_form.hidden_tag() }} <!-- Token CSRF -->
                <div>
                    <button type="button" class="button-green" id="add-employers-button">Add Employers to Existing Organization</button>
                </div>
                <h2>Register Organization</h2>
                <div class="form-columns">
                    <div class="employer">
                        <div class="form-group">
                            <label for="org_name">Organization Name:</label>
                            {{ org_form.org_name }}
                        </div>
                        <div class="form-group">
                            <label for="org_email">Organization Email:</label>
                            {{ org_form.org_email }}
                        </div>
                        <div class="form-group">
                            <label for="org_address">Address:</label>
                            {{ org_form.org_address }}
                        </div>
                        <div class="form-group">
                            <label for="org_city">City:</label>
                            {{ org_form.org_city }}
                        </div>
                        <div class="form-group">
                            <label for="org_cap">CAP:</label>
                            {{ org_form.org_cap }}
                        </div>
                        <div class="form-group">
                            <label for="org_telephone">Telephone:</label>
                            {{ org_form.org_telephone }}
                        </div>
                        <div class="form-group">
                            <label for="org_partita_iva">Partita IVA:</label>
                            {{ org_form.org_partita_iva }}
                        </div>
                        <div class="form-group">
                            <label for="org_ragione_sociale">Ragione Sociale:</label>
                            {{ org_form.org_ragione_sociale }}
                        </div>
                        <div class="form-group">
                            <label>Organization Type:</label>
                            <div class="form-group radio-group">
                                <div class="radio-row">
                                    {% for value, label in org_form.org_type.choices %}
                                        <div class="radio-item">
                                            <input type="radio" id="type_{{ value }}" name="org_type" value="{{ value }}" {% if org_form.org_type.data == value %}checked{% endif %}>
                                            <label for="type_{{ value }}">{{ label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="org_description">Description:</label>
                            {{ org_form.org_description }}
                        </div>
                    </div>
                    <div class="form-column">
                        <h3>Register Employers</h3>
                        <div id="employers-container">
                            <div class="employer">
                                <div class="form-group">
                                    <label for="emp_username_0">Username:</label>
                                    {{ emp_form.emp_username }}
                                </div>
                                <div class="form-group">
                                    <label for="emp_password_0">Password:</label>
                                    {{ emp_form.emp_password }}
                                </div>
                                <div class="form-group">
                                    <label for="emp_name_0">Name:</label>
                                    {{ emp_form.emp_name }}
                                </div>
                                <div class="form-group">
                                    <label for="emp_surname_0">Surname:</label>
                                    {{ emp_form.emp_surname }}
                                </div>
                                <div class="form-group">
                                    <label for="emp_email_0">Email:</label>
                                    {{ emp_form.emp_email }}
                                </div>
                            </div>
                        </div>
                        <button type="button" id="add-employer">Add Another Employer</button>
                    </div>
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>